<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />

<div class="container-fluid" style="margin-top:100px;">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <a href="adminProfile">
                        <div class="header">Profile</div>

                        <div class="banner-img">
                            <img src="../assets/Images/myp.jpg" alt="Image 1" width="" height="157">
                        </div>
                    </a>
                        <div class="footer">
                          
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <a href="customerList">
                        <div class="header">Customers</div>

                        <div class="banner-img">
                            <img src="../assets/Images/customers.jpg" alt="Image 1">
                        </div>
                       </a>
                        <div class="footer">
                          
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <a href="staffList">
                        <div class="header">Staffs</div>

                        <div class="banner-img">
                           
                            <img src="../assets/Images/team.jpg" alt="Image 1" height="157">
                       
                        </div>
                    </a>

                        <div class="footer">
                         
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <a href="addStaff">
                        <div class="header">Add Staffs</div>

                        <div class="banner-img">
                            <img src="../assets/Images/newstaff.jpg" alt="Image 1" height="157">
                        </div>
                    </a>
                        <div class="footer">
                           
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>